/* Global */

.hidden {
    display: none;
}

.mt-60 {
    margin-top: 60px;
}

p.center {
    text-align: center;
}

p.justify {
    text-align: justify;
}

a.not-colored {
    color: inherit;
}

img.em1 {
    height: 1em;
}

/* Header */

header div#vchkhr-card h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

header div#vchkhr-card p {
    margin-top: 0px;
    color: rgb(85, 85, 85);
}

header div#vchkhr-card img {
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

header div#vchkhr-card table {
    height: 72.4vh;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 525px) {
    header div#vchkhr-card img {
        height: 73px;
        margin-bottom: 13px;
    }
}

@media (max-width: 409px) {
    header div#vchkhr-card img {
        height: 57px;
        margin-bottom: 63px;
    }
}

@media (max-width: 345px) {
    header div#vchkhr-card img {
        margin-bottom: 87px;
    }
}

/* Article */

article div.gallery {
    margin: 25px auto 25px auto;
}

article div.gallery div.item {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

article div.gallery div.item div.content {
    margin: 20px;
}

@media (min-width: 793px) {
    article div.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-content: flex-start;
    }
    article div.gallery div.item {
        box-sizing: border-box;
        width: calc(33.33% - 15px);
    }
    article div.gallery div.item div.content {
        width: calc(100% - 40px);
    }
}
