div.vh80 table {
    height: 77vh;
}

div.vh80 table {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

header p {
    margin-top: 0px;
    color: rgb(85, 85, 85);
}

header img {
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.em1 {
    height: 1em;
}

.ta-justify {
    text-align: justify;
}

a.not-colored {
    color: inherit;
}

div.gallery {
    margin: 25px auto 25px auto;
}

div.gallery div.item {
    width: 100%;
    margin-bottom: 15px;
    border-color: rgb(224, 224, 224);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

div.gallery div.item div.content {
    margin: 20px;
}

@media (min-width: 793px) {
    div.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
    }

    div.gallery div.item {
        box-sizing: border-box;
        width: calc(33.33% - 15px);
    }

    div.gallery div.item div.content {
        width: calc(100% - 40px);
    }
}